@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0.5rem;
  background-color: rgb(5 46 22);
  color: rgb(254 240 138);
}

.supabase-auth-ui_ui-input {
  color: #ffffff !important;
  caret-color: #ffffff;
}

.supabase-auth-ui_ui-input::placeholder {
  color: rgba(255, 255, 255, 0.7) !important;
}

a[href="#auth-forgot-password"] {
  display: none !important;
}
